magicology-master/magicology-master/.gitignore
magicology-master/magicology-master/LICENSE
magicology-master/magicology-master/mod.json
magicology-master/magicology-master/mod.png
magicology-master/magicology-master/README.md
magicology-master/magicology-master/tsconfig.json
magicology-master/magicology-master/lang/english.json
magicology-master/magicology-master/out/IMagicology.d.ts
magicology-master/magicology-master/out/IMagicology.js
magicology-master/magicology-master/out/Magicology.d.ts
magicology-master/magicology-master/out/Magicology.js
magicology-master/magicology-master/out/MagicologyActions.d.ts
magicology-master/magicology-master/out/MagicologyActions.js
magicology-master/magicology-master/src/IMagicology.ts
magicology-master/magicology-master/src/Magicology.ts
magicology-master/magicology-master/src/MagicologyActions.ts
magicology-master/magicology-master/static/image/character/equip/elementalwoodenstaff.png
magicology-master/magicology-master/static/image/corpse/elementalgolem.png
magicology-master/magicology-master/static/image/creature/elementalgolem.png
magicology-master/magicology-master/static/image/item/elementalbakingtray_8.png
magicology-master/magicology-master/static/image/item/elementalbakingtray.png
magicology-master/magicology-master/static/image/item/elementalglassbottle_8.png
magicology-master/magicology-master/static/image/item/elementalglassbottle.png
magicology-master/magicology-master/static/image/item/elementalglassbottleofpurifiedfreshwater_8.png
magicology-master/magicology-master/static/image/item/elementalglassbottleofpurifiedfreshwater.png
magicology-master/magicology-master/static/image/item/elementalgolemfigure_8.png
magicology-master/magicology-master/static/image/item/elementalgolemfigure.png
magicology-master/magicology-master/static/image/item/elementalwoodenstaff_8.png
magicology-master/magicology-master/static/image/item/elementalwoodenstaff.png
magicology-master/magicology-master/static/image/item/fireball_8.png
magicology-master/magicology-master/static/image/item/fireball.png
magicology-master/magicology-master/static/image/item/frostbolt_8.png
magicology-master/magicology-master/static/image/item/frostbolt.png
magicology-master/magicology-master/static/image/item/manapotion_8.png
magicology-master/magicology-master/static/image/item/manapotion.png
magicology-master/magicology-master/static/image/ui/icons/action/conjurefood.png
magicology-master/magicology-master/static/image/ui/icons/action/conjurewater.png
magicology-master/magicology-master/static/image/ui/icons/action/dematerialize.png
magicology-master/magicology-master/static/image/ui/icons/action/fireball.png
magicology-master/magicology-master/static/image/ui/icons/action/frostbolt.png
magicology-master/magicology-master/static/image/ui/icons/action/materialize.png
magicology-master/magicology-master/static/image/ui/icons/stat/mana.png
magicology-master/magicology-master/style/magicology.css
debugtools-master/debugtools-master/.gitignore
debugtools-master/debugtools-master/LICENSE
debugtools-master/debugtools-master/mod.json
debugtools-master/debugtools-master/mod.png
debugtools-master/debugtools-master/README.md
debugtools-master/debugtools-master/tsconfig.json
debugtools-master/debugtools-master/lang/english.json
debugtools-master/debugtools-master/out/Actions.d.ts
debugtools-master/debugtools-master/out/Actions.js
debugtools-master/debugtools-master/out/DebugTools.d.ts
debugtools-master/debugtools-master/out/DebugTools.js
debugtools-master/debugtools-master/out/IDebugTools.d.ts
debugtools-master/debugtools-master/out/IDebugTools.js
debugtools-master/debugtools-master/out/LocationSelector.d.ts
debugtools-master/debugtools-master/out/LocationSelector.js
debugtools-master/debugtools-master/out/UnlockedCameraMovementHandler.d.ts
debugtools-master/debugtools-master/out/UnlockedCameraMovementHandler.js
debugtools-master/debugtools-master/out/action/AddItemToInventory.d.ts
debugtools-master/debugtools-master/out/action/AddItemToInventory.js
debugtools-master/debugtools-master/out/action/ChangeLayer.d.ts
debugtools-master/debugtools-master/out/action/ChangeLayer.js
debugtools-master/debugtools-master/out/action/ChangeTerrain.d.ts
debugtools-master/debugtools-master/out/action/ChangeTerrain.js
debugtools-master/debugtools-master/out/action/ClearInventory.d.ts
debugtools-master/debugtools-master/out/action/ClearInventory.js
debugtools-master/debugtools-master/out/action/Clone.d.ts
debugtools-master/debugtools-master/out/action/Clone.js
debugtools-master/debugtools-master/out/action/ForceSailToCivilization.d.ts
debugtools-master/debugtools-master/out/action/ForceSailToCivilization.js
debugtools-master/debugtools-master/out/action/Heal.d.ts
debugtools-master/debugtools-master/out/action/Heal.js
debugtools-master/debugtools-master/out/action/Kill.d.ts
debugtools-master/debugtools-master/out/action/Kill.js
debugtools-master/debugtools-master/out/action/MoveToIsland.d.ts
debugtools-master/debugtools-master/out/action/MoveToIsland.js
debugtools-master/debugtools-master/out/action/Paint.d.ts
debugtools-master/debugtools-master/out/action/Paint.js
debugtools-master/debugtools-master/out/action/PlaceTemplate.d.ts
debugtools-master/debugtools-master/out/action/PlaceTemplate.js
debugtools-master/debugtools-master/out/action/Remove.d.ts
debugtools-master/debugtools-master/out/action/Remove.js
debugtools-master/debugtools-master/out/action/RenameIsland.d.ts
debugtools-master/debugtools-master/out/action/RenameIsland.js
debugtools-master/debugtools-master/out/action/SelectionExecute.d.ts
debugtools-master/debugtools-master/out/action/SelectionExecute.js
debugtools-master/debugtools-master/out/action/SetDecay.d.ts
debugtools-master/debugtools-master/out/action/SetDecay.js
debugtools-master/debugtools-master/out/action/SetDecayBulk.d.ts
debugtools-master/debugtools-master/out/action/SetDecayBulk.js
debugtools-master/debugtools-master/out/action/SetDurability.d.ts
debugtools-master/debugtools-master/out/action/SetDurability.js
debugtools-master/debugtools-master/out/action/SetDurabilityBulk.d.ts
debugtools-master/debugtools-master/out/action/SetDurabilityBulk.js
debugtools-master/debugtools-master/out/action/SetGrowingStage.d.ts
debugtools-master/debugtools-master/out/action/SetGrowingStage.js
debugtools-master/debugtools-master/out/action/SetSkill.d.ts
debugtools-master/debugtools-master/out/action/SetSkill.js
debugtools-master/debugtools-master/out/action/SetStat.d.ts
debugtools-master/debugtools-master/out/action/SetStat.js
debugtools-master/debugtools-master/out/action/SetTamed.d.ts
debugtools-master/debugtools-master/out/action/SetTamed.js
debugtools-master/debugtools-master/out/action/SetTime.d.ts
debugtools-master/debugtools-master/out/action/SetTime.js
debugtools-master/debugtools-master/out/action/SetWeightBonus.d.ts
debugtools-master/debugtools-master/out/action/SetWeightBonus.js
debugtools-master/debugtools-master/out/action/TeleportEntity.d.ts
debugtools-master/debugtools-master/out/action/TeleportEntity.js
debugtools-master/debugtools-master/out/action/ToggleInvulnerable.d.ts
debugtools-master/debugtools-master/out/action/ToggleInvulnerable.js
debugtools-master/debugtools-master/out/action/ToggleNoClip.d.ts
debugtools-master/debugtools-master/out/action/ToggleNoClip.js
debugtools-master/debugtools-master/out/action/TogglePermissions.d.ts
debugtools-master/debugtools-master/out/action/TogglePermissions.js
debugtools-master/debugtools-master/out/action/ToggleTilled.d.ts
debugtools-master/debugtools-master/out/action/ToggleTilled.js
debugtools-master/debugtools-master/out/action/UpdateStatsAndAttributes.d.ts
debugtools-master/debugtools-master/out/action/UpdateStatsAndAttributes.js
debugtools-master/debugtools-master/out/action/helpers/CloneContainedItems.d.ts
debugtools-master/debugtools-master/out/action/helpers/CloneContainedItems.js
debugtools-master/debugtools-master/out/action/helpers/CloneDoodad.d.ts
debugtools-master/debugtools-master/out/action/helpers/CloneDoodad.js
debugtools-master/debugtools-master/out/action/helpers/CloneEntity.d.ts
debugtools-master/debugtools-master/out/action/helpers/CloneEntity.js
debugtools-master/debugtools-master/out/action/helpers/CloneInventory.d.ts
debugtools-master/debugtools-master/out/action/helpers/CloneInventory.js
debugtools-master/debugtools-master/out/action/helpers/CopyStats.d.ts
debugtools-master/debugtools-master/out/action/helpers/CopyStats.js
debugtools-master/debugtools-master/out/action/helpers/GetTile.d.ts
debugtools-master/debugtools-master/out/action/helpers/GetTile.js
debugtools-master/debugtools-master/out/action/helpers/Remove.d.ts
debugtools-master/debugtools-master/out/action/helpers/Remove.js
debugtools-master/debugtools-master/out/action/helpers/RemoveItem.d.ts
debugtools-master/debugtools-master/out/action/helpers/RemoveItem.js
debugtools-master/debugtools-master/out/action/helpers/ResurrectCorpse.d.ts
debugtools-master/debugtools-master/out/action/helpers/ResurrectCorpse.js
debugtools-master/debugtools-master/out/action/helpers/SetTilled.d.ts
debugtools-master/debugtools-master/out/action/helpers/SetTilled.js
debugtools-master/debugtools-master/out/action/helpers/TeleportEntity.d.ts
debugtools-master/debugtools-master/out/action/helpers/TeleportEntity.js
debugtools-master/debugtools-master/out/overlay/SelectionOverlay.d.ts
debugtools-master/debugtools-master/out/overlay/SelectionOverlay.js
debugtools-master/debugtools-master/out/overlay/TemperatureOverlay.d.ts
debugtools-master/debugtools-master/out/overlay/TemperatureOverlay.js
debugtools-master/debugtools-master/out/ui/AccidentalDeathHelper.d.ts
debugtools-master/debugtools-master/out/ui/AccidentalDeathHelper.js
debugtools-master/debugtools-master/out/ui/DebugToolsDialog.d.ts
debugtools-master/debugtools-master/out/ui/DebugToolsDialog.js
debugtools-master/debugtools-master/out/ui/InspectDialog.d.ts
debugtools-master/debugtools-master/out/ui/InspectDialog.js
debugtools-master/debugtools-master/out/ui/component/AddItemToInventory.d.ts
debugtools-master/debugtools-master/out/ui/component/AddItemToInventory.js
debugtools-master/debugtools-master/out/ui/component/Container.d.ts
debugtools-master/debugtools-master/out/ui/component/Container.js
debugtools-master/debugtools-master/out/ui/component/DebugToolsPanel.d.ts
debugtools-master/debugtools-master/out/ui/component/DebugToolsPanel.js
debugtools-master/debugtools-master/out/ui/component/InspectEntityInformationSubsection.d.ts
debugtools-master/debugtools-master/out/ui/component/InspectEntityInformationSubsection.js
debugtools-master/debugtools-master/out/ui/component/InspectInformationSection.d.ts
debugtools-master/debugtools-master/out/ui/component/InspectInformationSection.js
debugtools-master/debugtools-master/out/ui/inspect/Corpse.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Corpse.js
debugtools-master/debugtools-master/out/ui/inspect/Creature.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Creature.js
debugtools-master/debugtools-master/out/ui/inspect/Doodad.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Doodad.js
debugtools-master/debugtools-master/out/ui/inspect/Entity.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Entity.js
debugtools-master/debugtools-master/out/ui/inspect/Human.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Human.js
debugtools-master/debugtools-master/out/ui/inspect/Item.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Item.js
debugtools-master/debugtools-master/out/ui/inspect/Npc.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Npc.js
debugtools-master/debugtools-master/out/ui/inspect/Player.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Player.js
debugtools-master/debugtools-master/out/ui/inspect/Terrain.d.ts
debugtools-master/debugtools-master/out/ui/inspect/Terrain.js
debugtools-master/debugtools-master/out/ui/inspect/TileEvent.d.ts
debugtools-master/debugtools-master/out/ui/inspect/TileEvent.js
debugtools-master/debugtools-master/out/ui/inspection/Temperature.d.ts
debugtools-master/debugtools-master/out/ui/inspection/Temperature.js
debugtools-master/debugtools-master/out/ui/paint/Corpse.d.ts
debugtools-master/debugtools-master/out/ui/paint/Corpse.js
debugtools-master/debugtools-master/out/ui/paint/Creature.d.ts
debugtools-master/debugtools-master/out/ui/paint/Creature.js
debugtools-master/debugtools-master/out/ui/paint/Doodad.d.ts
debugtools-master/debugtools-master/out/ui/paint/Doodad.js
debugtools-master/debugtools-master/out/ui/paint/NPC.d.ts
debugtools-master/debugtools-master/out/ui/paint/NPC.js
debugtools-master/debugtools-master/out/ui/paint/Terrain.d.ts
debugtools-master/debugtools-master/out/ui/paint/Terrain.js
debugtools-master/debugtools-master/out/ui/paint/TileEvent.d.ts
debugtools-master/debugtools-master/out/ui/paint/TileEvent.js
debugtools-master/debugtools-master/out/ui/panel/DisplayPanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/DisplayPanel.js
debugtools-master/debugtools-master/out/ui/panel/GeneralPanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/GeneralPanel.js
debugtools-master/debugtools-master/out/ui/panel/PaintPanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/PaintPanel.js
debugtools-master/debugtools-master/out/ui/panel/SelectionPanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/SelectionPanel.js
debugtools-master/debugtools-master/out/ui/panel/TemperaturePanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/TemperaturePanel.js
debugtools-master/debugtools-master/out/ui/panel/TemplatePanel.d.ts
debugtools-master/debugtools-master/out/ui/panel/TemplatePanel.js
debugtools-master/debugtools-master/out/util/Array.d.ts
debugtools-master/debugtools-master/out/util/Array.js
debugtools-master/debugtools-master/out/util/CancelablePromise.d.ts
debugtools-master/debugtools-master/out/util/CancelablePromise.js
debugtools-master/debugtools-master/out/util/Version.d.ts
debugtools-master/debugtools-master/out/util/Version.js
debugtools-master/debugtools-master/src/Actions.ts
debugtools-master/debugtools-master/src/DebugTools.ts
debugtools-master/debugtools-master/src/IDebugTools.ts
debugtools-master/debugtools-master/src/LocationSelector.ts
debugtools-master/debugtools-master/src/UnlockedCameraMovementHandler.ts
debugtools-master/debugtools-master/src/action/AddItemToInventory.ts
debugtools-master/debugtools-master/src/action/ChangeLayer.ts
debugtools-master/debugtools-master/src/action/ChangeTerrain.ts
debugtools-master/debugtools-master/src/action/ClearInventory.ts
debugtools-master/debugtools-master/src/action/Clone.ts
debugtools-master/debugtools-master/src/action/ForceSailToCivilization.ts
debugtools-master/debugtools-master/src/action/Heal.ts
debugtools-master/debugtools-master/src/action/Kill.ts
debugtools-master/debugtools-master/src/action/MoveToIsland.ts
debugtools-master/debugtools-master/src/action/Paint.ts
debugtools-master/debugtools-master/src/action/PlaceTemplate.ts
debugtools-master/debugtools-master/src/action/Remove.ts
debugtools-master/debugtools-master/src/action/RenameIsland.ts
debugtools-master/debugtools-master/src/action/SelectionExecute.ts
debugtools-master/debugtools-master/src/action/SetDecay.ts
debugtools-master/debugtools-master/src/action/SetDecayBulk.ts
debugtools-master/debugtools-master/src/action/SetDurability.ts
debugtools-master/debugtools-master/src/action/SetDurabilityBulk.ts
debugtools-master/debugtools-master/src/action/SetGrowingStage.ts
debugtools-master/debugtools-master/src/action/SetSkill.ts
debugtools-master/debugtools-master/src/action/SetStat.ts
debugtools-master/debugtools-master/src/action/SetTamed.ts
debugtools-master/debugtools-master/src/action/SetTime.ts
debugtools-master/debugtools-master/src/action/SetWeightBonus.ts
debugtools-master/debugtools-master/src/action/TeleportEntity.ts
debugtools-master/debugtools-master/src/action/ToggleInvulnerable.ts
debugtools-master/debugtools-master/src/action/ToggleNoClip.ts
debugtools-master/debugtools-master/src/action/TogglePermissions.ts
debugtools-master/debugtools-master/src/action/ToggleTilled.ts
debugtools-master/debugtools-master/src/action/UpdateStatsAndAttributes.ts
debugtools-master/debugtools-master/src/action/helpers/CloneContainedItems.ts
debugtools-master/debugtools-master/src/action/helpers/CloneDoodad.ts
debugtools-master/debugtools-master/src/action/helpers/CloneEntity.ts
debugtools-master/debugtools-master/src/action/helpers/CloneInventory.ts
debugtools-master/debugtools-master/src/action/helpers/CopyStats.ts
debugtools-master/debugtools-master/src/action/helpers/GetTile.ts
debugtools-master/debugtools-master/src/action/helpers/Remove.ts
debugtools-master/debugtools-master/src/action/helpers/RemoveItem.ts
debugtools-master/debugtools-master/src/action/helpers/ResurrectCorpse.ts
debugtools-master/debugtools-master/src/action/helpers/SetTilled.ts
debugtools-master/debugtools-master/src/action/helpers/TeleportEntity.ts
debugtools-master/debugtools-master/src/overlay/SelectionOverlay.ts
debugtools-master/debugtools-master/src/overlay/TemperatureOverlay.ts
debugtools-master/debugtools-master/src/ui/AccidentalDeathHelper.ts
debugtools-master/debugtools-master/src/ui/DebugToolsDialog.ts
debugtools-master/debugtools-master/src/ui/InspectDialog.ts
debugtools-master/debugtools-master/src/ui/component/AddItemToInventory.ts
debugtools-master/debugtools-master/src/ui/component/Container.ts
debugtools-master/debugtools-master/src/ui/component/DebugToolsPanel.ts
debugtools-master/debugtools-master/src/ui/component/InspectEntityInformationSubsection.ts
debugtools-master/debugtools-master/src/ui/component/InspectInformationSection.ts
debugtools-master/debugtools-master/src/ui/inspect/Corpse.ts
debugtools-master/debugtools-master/src/ui/inspect/Creature.ts
debugtools-master/debugtools-master/src/ui/inspect/Doodad.ts
debugtools-master/debugtools-master/src/ui/inspect/Entity.ts
debugtools-master/debugtools-master/src/ui/inspect/Human.ts
debugtools-master/debugtools-master/src/ui/inspect/Item.ts
debugtools-master/debugtools-master/src/ui/inspect/Npc.ts
debugtools-master/debugtools-master/src/ui/inspect/Player.ts
debugtools-master/debugtools-master/src/ui/inspect/Terrain.ts
debugtools-master/debugtools-master/src/ui/inspect/TileEvent.ts
debugtools-master/debugtools-master/src/ui/inspection/Temperature.ts
debugtools-master/debugtools-master/src/ui/paint/Corpse.ts
debugtools-master/debugtools-master/src/ui/paint/Creature.ts
debugtools-master/debugtools-master/src/ui/paint/Doodad.ts
debugtools-master/debugtools-master/src/ui/paint/NPC.ts
debugtools-master/debugtools-master/src/ui/paint/Terrain.ts
debugtools-master/debugtools-master/src/ui/paint/TileEvent.ts
debugtools-master/debugtools-master/src/ui/panel/DisplayPanel.ts
debugtools-master/debugtools-master/src/ui/panel/GeneralPanel.ts
debugtools-master/debugtools-master/src/ui/panel/PaintPanel.ts
debugtools-master/debugtools-master/src/ui/panel/SelectionPanel.ts
debugtools-master/debugtools-master/src/ui/panel/TemperaturePanel.ts
debugtools-master/debugtools-master/src/ui/panel/TemplatePanel.ts
debugtools-master/debugtools-master/src/util/Array.ts
debugtools-master/debugtools-master/src/util/CancelablePromise.ts
debugtools-master/debugtools-master/src/util/Version.ts
debugtools-master/debugtools-master/static/image/overlay/paint.png
debugtools-master/debugtools-master/static/image/overlay/paint1.png
debugtools-master/debugtools-master/static/image/overlay/paint2.png
debugtools-master/debugtools-master/static/image/overlay/target.png
debugtools-master/debugtools-master/static/image/ui/icons/menubar/dialog.png
debugtools-master/debugtools-master/style/debugTools.css
TestMod/tsconfig.tsbuildinfo
